@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;800;900&display=swap");

:root {
  --white: #f8fafc;
  --grey: #94a3b8;
  --dark: #7f1d1d;
  --red: #ff5858;
  --orange: #ffb30b;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0px;

  color: var(--dark);
  background-color: #fff;
  background-image: url("./assets/wave.svg");
  background-repeat: no-repeat;
  background-size: 100% 200px;

  font-family: "Noto Sans", sans-serif;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
